automation/drift-bar-questionnaire-workflow-final.json
{
  "name": "Drift Bar Questionnaire - Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "drift-bar-questionnaire",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-1",
      "name": "Webhook (Прием на данни)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "drift-bar-questionnaire"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "formatted_date",
              "name": "formatted_date",
              "value": "={{ $now.setZone('Europe/Sofia').toFormat('dd.MM.yyyy HH:mm') }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.body.status || 'draft' }}",
              "type": "string"
            },
            {
              "id": "logo_delivery",
              "name": "logo_delivery",
              "value": "={{ $json.body.logo_delivery || '' }}",
              "type": "string"
            },
            {
              "id": "photos_interior",
              "name": "photos_interior",
              "value": "={{ $json.body.photos_interior || '' }}",
              "type": "string"
            },
            {
              "id": "photos_bar",
              "name": "photos_bar",
              "value": "={{ $json.body.photos_bar || '' }}",
              "type": "string"
            },
            {
              "id": "photos_stage",
              "name": "photos_stage",
              "value": "={{ $json.body.photos_stage || '' }}",
              "type": "string"
            },
            {
              "id": "photos_concerts",
              "name": "photos_concerts",
              "value": "={{ $json.body.photos_concerts || '' }}",
              "type": "string"
            },
            {
              "id": "photos_drinks",
              "name": "photos_drinks",
              "value": "={{ $json.body.photos_drinks || '' }}",
              "type": "string"
            },
            {
              "id": "photos_exterior",
              "name": "photos_exterior",
              "value": "={{ $json.body.photos_exterior || '' }}",
              "type": "string"
            },
            {
              "id": "photos_delivery",
              "name": "photos_delivery",
              "value": "={{ $json.body.photos_delivery || '' }}",
              "type": "string"
            },
            {
              "id": "monday",
              "name": "monday",
              "value": "={{ $json.body.monday || '' }}",
              "type": "string"
            },
            {
              "id": "tuesday",
              "name": "tuesday",
              "value": "={{ $json.body.tuesday || '' }}",
              "type": "string"
            },
            {
              "id": "wednesday",
              "name": "wednesday",
              "value": "={{ $json.body.wednesday || '' }}",
              "type": "string"
            },
            {
              "id": "thursday",
              "name": "thursday",
              "value": "={{ $json.body.thursday || '' }}",
              "type": "string"
            },
            {
              "id": "friday",
              "name": "friday",
              "value": "={{ $json.body.friday || '' }}",
              "type": "string"
            },
            {
              "id": "saturday",
              "name": "saturday",
              "value": "={{ $json.body.saturday || '' }}",
              "type": "string"
            },
            {
              "id": "sunday",
              "name": "sunday",
              "value": "={{ $json.body.sunday || '' }}",
              "type": "string"
            },
            {
              "id": "closing_time",
              "name": "closing_time",
              "value": "={{ $json.body.closing_time || '' }}",
              "type": "string"
            },
            {
              "id": "band1_genre",
              "name": "band1_genre",
              "value": "={{ $json.body.band1_genre || '' }}",
              "type": "string"
            },
            {
              "id": "band1_description",
              "name": "band1_description",
              "value": "={{ $json.body.band1_description || '' }}",
              "type": "string"
            },
            {
              "id": "band2_genre",
              "name": "band2_genre",
              "value": "={{ $json.body.band2_genre || '' }}",
              "type": "string"
            },
            {
              "id": "band2_description",
              "name": "band2_description",
              "value": "={{ $json.body.band2_description || '' }}",
              "type": "string"
            },
            {
              "id": "band3_genre",
              "name": "band3_genre",
              "value": "={{ $json.body.band3_genre || '' }}",
              "type": "string"
            },
            {
              "id": "band3_description",
              "name": "band3_description",
              "value": "={{ $json.body.band3_description || '' }}",
              "type": "string"
            },
            {
              "id": "google_email",
              "name": "google_email",
              "value": "={{ $json.body.google_email || '' }}",
              "type": "string"
            },
            {
              "id": "reservations",
              "name": "reservations",
              "value": "={{ $json.body.reservations || '' }}",
              "type": "string"
            },
            {
              "id": "num_tables",
              "name": "num_tables",
              "value": "={{ $json.body.num_tables || '' }}",
              "type": "string"
            },
            {
              "id": "max_per_table",
              "name": "max_per_table",
              "value": "={{ $json.body.max_per_table || '' }}",
              "type": "string"
            },
            {
              "id": "domain",
              "name": "domain",
              "value": "={{ $json.body.domain || '' }}",
              "type": "string"
            },
            {
              "id": "domain_other",
              "name": "domain_other",
              "value": "={{ $json.body.domain_other || '' }}",
              "type": "string"
            },
            {
              "id": "ad_budget",
              "name": "ad_budget",
              "value": "={{ $json.body.ad_budget || '' }}",
              "type": "string"
            },
            {
              "id": "capacity",
              "name": "capacity",
              "value": "={{ $json.body.capacity || '' }}",
              "type": "string"
            },
            {
              "id": "total_tables",
              "name": "total_tables",
              "value": "={{ $json.body.total_tables || '' }}",
              "type": "string"
            },
            {
              "id": "brand_voice_professional",
              "name": "brand_voice_professional",
              "value": "={{ $json.body.brand_voice_professional || '' }}",
              "type": "string"
            },
            {
              "id": "brand_voice_fun",
              "name": "brand_voice_fun",
              "value": "={{ $json.body.brand_voice_fun || '' }}",
              "type": "string"
            },
            {
              "id": "brand_voice_edgy",
              "name": "brand_voice_edgy",
              "value": "={{ $json.body.brand_voice_edgy || '' }}",
              "type": "string"
            },
            {
              "id": "brand_voice_warm",
              "name": "brand_voice_warm",
              "value": "={{ $json.body.brand_voice_warm || '' }}",
              "type": "string"
            },
            {
              "id": "brand_voice_other",
              "name": "brand_voice_other",
              "value": "={{ $json.body.brand_voice_other || '' }}",
              "type": "string"
            },
            {
              "id": "free_text_wishes",
              "name": "free_text_wishes",
              "value": "={{ $json.body.free_text_wishes || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-all-data",
      "name": "Подготви Данни",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pRSxnb7-mTsHQdeBryalz7MtcxTA8CtBLGj1IAIfB0Q",
          "mode": "list",
          "cachedResultName": "отг на въпросник"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": ["timestamp"],
          "value": {}
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Запази в Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [750, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lluHCia9PAqrKy3A",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook (Прием на данни)": {
      "main": [
        [
          {
            "node": "Подготви Данни",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготви Данни": {
      "main": [
        [
          {
            "node": "Запази в Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-04T00:00:00.000Z",
  "versionId": "3"
}