automation/drift-bar-questionnaire-workflow.json
{
  "name": "Drift Bar Questionnaire",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "drift-bar-questionnaire",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-1",
      "name": "Webhook (Прием на данни)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "drift-bar-questionnaire"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "timestamp",
              "value": "={{$now.toISO()}}"
            },
            {
              "name": "formatted_date",
              "value": "={{$now.format('dd.MM.yyyy HH:mm')}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-timestamp",
      "name": "Добави Timestamp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{$json.submitted_at}}",
        "format": "dd.MM.yyyy HH:mm",
        "options": {
          "timezone": "Europe/Sofia"
        }
      },
      "id": "format-date",
      "name": "Форматирай Дата",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-data",
      "name": "Събери Данни",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "ВАШЕТО_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Drift Bar - Questionnaire Responses"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": ["timestamp"],
          "value": {}
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Запази в Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1250, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ВАШИТЕ_GOOGLE_CREDENTIALS",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "ncracholov3@gmail.com",
        "toEmail": "ncracholov3@gmail.com",
        "subject": "🎸 Нов отговор от Drift Bar въпросник",
        "emailType": "html",
        "text": "=<h2>Нов отговор от Drift Bar въпросник</h2>\n\n<p><strong>Получен на:</strong> {{$json.formatted_date}}</p>\n\n<hr>\n\n<h3>1️⃣ ЛОГО</h3>\n<p><strong>Къде ще изпратят:</strong> {{$json.logo_delivery}}</p>\n\n<h3>2️⃣ СНИМКИ</h3>\n<ul>\n<li><strong>Интериор:</strong> {{$json.photos_interior ? '✅ Да' : '❌ Не'}}</li>\n<li><strong>Бар:</strong> {{$json.photos_bar ? '✅ Да' : '❌ Не'}}</li>\n<li><strong>Сцена:</strong> {{$json.photos_stage ? '✅ Да' : '❌ Не'}}</li>\n<li><strong>Концерти:</strong> {{$json.photos_concerts ? '✅ Да' : '❌ Не'}}</li>\n<li><strong>Напитки:</strong> {{$json.photos_drinks ? '✅ Да' : '❌ Не'}}</li>\n<li><strong>Вход/Фасада:</strong> {{$json.photos_exterior ? '✅ Да' : '❌ Не'}}</li>\n</ul>\n<p><strong>Къде ще изпратят:</strong> {{$json.photos_delivery}}</p>\n\n<h3>3️⃣ РАБОТНО ВРЕМЕ</h3>\n<ul>\n<li><strong>Понеделник:</strong> {{$json.monday}}</li>\n<li><strong>Вторник:</strong> {{$json.tuesday}}</li>\n<li><strong>Сряда:</strong> {{$json.wednesday}}</li>\n<li><strong>Четвъртък:</strong> {{$json.thursday}}</li>\n<li><strong>Петък:</strong> {{$json.friday}}</li>\n<li><strong>Събота:</strong> {{$json.saturday}}</li>\n<li><strong>Неделя:</strong> {{$json.sunday}}</li>\n</ul>\n<p><strong>Затваряне:</strong> {{$json.closing_time}}</p>\n\n<h3>4️⃣ БАНДИ</h3>\n\n<h4>06.03 - Царете</h4>\n<p><strong>Жанр:</strong> {{$json.band1_genre}}</p>\n<p><strong>Описание:</strong> {{$json.band1_description}}</p>\n\n<h4>14.03 - The Four Tones</h4>\n<p><strong>Жанр:</strong> {{$json.band2_genre}}</p>\n<p><strong>Описание:</strong> {{$json.band2_description}}</p>\n\n<h4>20.03 - Solid Fuel</h4>\n<p><strong>Жанр:</strong> {{$json.band3_genre}}</p>\n<p><strong>Описание:</strong> {{$json.band3_description}}</p>\n\n<h3>5️⃣ GOOGLE АКАУНТ</h3>\n<p><strong>Email:</strong> {{$json.google_email}}</p>\n\n<h3>6️⃣ РЕЗЕРВАЦИИ</h3>\n<p><strong>Искат резервации:</strong> {{$json.reservations}}</p>\n<p><strong>Брой маси:</strong> {{$json.num_tables}}</p>\n<p><strong>Макс. души на маса:</strong> {{$json.max_per_table}}</p>\n\n<h3>7️⃣ ДОМЕЙН</h3>\n<p><strong>Предпочитание:</strong> {{$json.domain}}</p>\n<p><strong>Друго:</strong> {{$json.domain_other}}</p>\n\n<h3>8️⃣ БЮДЖЕТ РЕКЛАМИ</h3>\n<p><strong>Месечен бюджет:</strong> {{$json.ad_budget}} евро</p>\n\n<h3>9️⃣ КАПАЦИТЕТ</h3>\n<p><strong>Побира:</strong> {{$json.capacity}} души</p>\n<p><strong>Брой маси:</strong> {{$json.total_tables}}</p>\n\n<h3>🔟 БРАНД ТОН</h3>\n<ul>\n<li><strong>Професионален:</strong> {{$json.brand_voice_professional ? '✅' : '❌'}}</li>\n<li><strong>Забавен:</strong> {{$json.brand_voice_fun ? '✅' : '❌'}}</li>\n<li><strong>Edgy:</strong> {{$json.brand_voice_edgy ? '✅' : '❌'}}</li>\n<li><strong>Топъл:</strong> {{$json.brand_voice_warm ? '✅' : '❌'}}</li>\n</ul>\n<p><strong>Друго:</strong> {{$json.brand_voice_other}}</p>\n\n<h3>📝 ПОЖЕЛАНИЯ</h3>\n<p>{{$json.free_text_wishes}}</p>\n\n<hr>\n\n<p><em>Автоматично изпратено от n8n</em></p>",
        "options": {}
      },
      "id": "send-email",
      "name": "Изпрати Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 400],
      "credentials": {
        "smtp": {
          "id": "ВАШИТЕ_EMAIL_CREDENTIALS",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Благодаря! Отговорите са получени.\" } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Върни Отговор",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "phoneNumber": "+359877455192",
        "message": "=🎸 *Drift Bar - Нов въпросник!*\n\n📅 Получен: {{$json.formatted_date}}\n\n*Основна информация:*\n• Лого: {{$json.logo_delivery}}\n• Снимки: {{$json.photos_delivery}}\n• Затваряне: {{$json.closing_time}}\n• Email: {{$json.google_email}}\n• Резервации: {{$json.reservations}}\n• Домейн: {{$json.domain}}\n• Бюджет реклами: {{$json.ad_budget}}€\n• Капацитет: {{$json.capacity}} души\n\n*Банди:*\n• Царете: {{$json.band1_genre}}\n• The Four Tones: {{$json.band2_genre}}\n• Solid Fuel: {{$json.band3_genre}}\n\n{{$json.free_text_wishes ? '*Пожелания:* ' + $json.free_text_wishes : ''}}\n\n_Виж пълния отговор в email_",
        "options": {}
      },
      "id": "send-viber",
      "name": "Изпрати Viber (опционално)",
      "type": "n8n-nodes-base.viber",
      "typeVersion": 1,
      "position": [1250, 600],
      "disabled": true,
      "credentials": {
        "viberApi": {
          "id": "ВАШИТЕ_VIBER_CREDENTIALS",
          "name": "Viber API"
        }
      }
    }
  ],
  "connections": {
    "Webhook (Прием на данни)": {
      "main": [
        [
          {
            "node": "Добави Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добави Timestamp": {
      "main": [
        [
          {
            "node": "Форматирай Дата",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форматирай Дата": {
      "main": [
        [
          {
            "node": "Събери Данни",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Събери Данни": {
      "main": [
        [
          {
            "node": "Запази в Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Изпрати Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Изпрати Viber (опционално)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запази в Google Sheets": {
      "main": [
        [
          {
            "node": "Върни Отговор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Изпрати Email": {
      "main": [
        [
          {
            "node": "Върни Отговор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-04T00:00:00.000Z",
  "versionId": "1"
}