automation/drift-bar-questionnaire-workflow-v2.json
{
  "name": "Drift Bar Questionnaire v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "drift-bar-questionnaire",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-1",
      "name": "Webhook (Прием на данни)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "drift-bar-questionnaire"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "formatted_date",
              "name": "formatted_date",
              "value": "={{ $now.setZone('Europe/Sofia').toFormat('dd.MM.yyyy HH:mm') }}",
              "type": "string"
            },
            {
              "id": "logo_delivery",
              "name": "logo_delivery",
              "value": "={{ $json.body.logo_delivery }}",
              "type": "string"
            },
            {
              "id": "photos_interior",
              "name": "photos_interior",
              "value": "={{ $json.body.photos_interior || '' }}",
              "type": "string"
            },
            {
              "id": "photos_bar",
              "name": "photos_bar",
              "value": "={{ $json.body.photos_bar || '' }}",
              "type": "string"
            },
            {
              "id": "photos_stage",
              "name": "photos_stage",
              "value": "={{ $json.body.photos_stage || '' }}",
              "type": "string"
            },
            {
              "id": "photos_concerts",
              "name": "photos_concerts",
              "value": "={{ $json.body.photos_concerts || '' }}",
              "type": "string"
            },
            {
              "id": "photos_drinks",
              "name": "photos_drinks",
              "value": "={{ $json.body.photos_drinks || '' }}",
              "type": "string"
            },
            {
              "id": "photos_exterior",
              "name": "photos_exterior",
              "value": "={{ $json.body.photos_exterior || '' }}",
              "type": "string"
            },
            {
              "id": "photos_delivery",
              "name": "photos_delivery",
              "value": "={{ $json.body.photos_delivery || '' }}",
              "type": "string"
            },
            {
              "id": "monday",
              "name": "monday",
              "value": "={{ $json.body.monday || '' }}",
              "type": "string"
            },
            {
              "id": "tuesday",
              "name": "tuesday",
              "value": "={{ $json.body.tuesday || '' }}",
              "type": "string"
            },
            {
              "id": "wednesday",
              "name": "wednesday",
              "value": "={{ $json.body.wednesday || '' }}",
              "type": "string"
            },
            {
              "id": "thursday",
              "name": "thursday",
              "value": "={{ $json.body.thursday || '' }}",
              "type": "string"
            },
            {
              "id": "friday",
              "name": "friday",
              "value": "={{ $json.body.friday || '' }}",
              "type": "string"
            },
            {
              "id": "saturday",
              "name": "saturday",
              "value": "={{ $json.body.saturday || '' }}",
              "type": "string"
            },
            {
              "id": "sunday",
              "name": "sunday",
              "value": "={{ $json.body.sunday || '' }}",
              "type": "string"
            },
            {
              "id": "closing_time",
              "name": "closing_time",
              "value": "={{ $json.body.closing_time || '' }}",
              "type": "string"
            },
            {
              "id": "band1_genre",
              "name": "band1_genre",
              "value": "={{ $json.body.band1_genre || '' }}",
              "type": "string"
            },
            {
              "id": "band1_description",
              "name": "band1_description",
              "value": "={{ $json.body.band1_description || '' }}",
              "type": "string"
            },
            {
              "id": "band2_genre",
              "name": "band2_genre",
              "value": "={{ $json.body.band2_genre || '' }}",
              "type": "string"
            },
            {
              "id": "band2_description",
              "name": "band2_description",
              "value": "={{ $json.body.band2_description || '' }}",
              "type": "string"
            },
            {
              "id": "band3_genre",
              "name": "band3_genre",
              "value": "={{ $json.body.band3_genre || '' }}",
              "type": "string"
            },
            {
              "id": "band3_description",
              "name": "band3_description",
              "value": "={{ $json.body.band3_description || '' }}",
              "type": "string"
            },
            {
              "id": "google_email",
              "name": "google_email",
              "value": "={{ $json.body.google_email || '' }}",
              "type": "string"
            },
            {
              "id": "reservations",
              "name": "reservations",
              "value": "={{ $json.body.reservations || '' }}",
              "type": "string"
            },
            {
              "id": "num_tables",
              "name": "num_tables",
              "value": "={{ $json.body.num_tables || '' }}",
              "type": "string"
            },
            {
              "id": "max_per_table",
              "name": "max_per_table",
              "value": "={{ $json.body.max_per_table || '' }}",
              "type": "string"
            },
            {
              "id": "domain",
              "name": "domain",
              "value": "={{ $json.body.domain || '' }}",
              "type": "string"
            },
            {
              "id": "domain_other",
              "name": "domain_other",
              "value": "={{ $json.body.domain_other || '' }}",
              "type": "string"
            },
            {
              "id": "ad_budget",
              "name": "ad_budget",
              "value": "={{ $json.body.ad_budget || '' }}",
              "type": "string"
            },
            {
              "id": "capacity",
              "name": "capacity",
              "value": "={{ $json.body.capacity || '' }}",
              "type": "string"
            },
            {
              "id": "total_tables",
              "name": "total_tables",
              "value": "={{ $json.body.total_tables || '' }}",
              "type": "string"
            },
            {
              "id": "brand_voice_professional",
              "name": "brand_voice_professional",
              "value": "={{ $json.body.brand_voice_professional || '' }}",
              "type": "string"
            },
            {
              "id": "brand_voice_fun",
              "name": "brand_voice_fun",
              "value": "={{ $json.body.brand_voice_fun || '' }}",
              "type": "string"
            },
            {
              "id": "brand_voice_edgy",
              "name": "brand_voice_edgy",
              "value": "={{ $json.body.brand_voice_edgy || '' }}",
              "type": "string"
            },
            {
              "id": "brand_voice_warm",
              "name": "brand_voice_warm",
              "value": "={{ $json.body.brand_voice_warm || '' }}",
              "type": "string"
            },
            {
              "id": "brand_voice_other",
              "name": "brand_voice_other",
              "value": "={{ $json.body.brand_voice_other || '' }}",
              "type": "string"
            },
            {
              "id": "free_text_wishes",
              "name": "free_text_wishes",
              "value": "={{ $json.body.free_text_wishes || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-all-data",
      "name": "Подготви Данни",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pRSxnb7-mTsHQdeBryalz7MtcxTA8CtBLGj1IAIfB0Q",
          "mode": "list",
          "cachedResultName": "отг на въпросник"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Запази в Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [750, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lluHCia9PAqrKy3A",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "ncracholov3@gmail.com",
        "toEmail": "ncracholov3@gmail.com",
        "subject": "🎸 Нов отговор от Drift Bar въпросник",
        "emailType": "html",
        "text": "=<h2>Нов отговор от Drift Bar въпросник</h2>\n\n<p><strong>Получен на:</strong> {{ $json.formatted_date }}</p>\n\n<hr>\n\n<h3>1️⃣ ЛОГО</h3>\n<p><strong>Къде ще изпратят:</strong> {{ $json.logo_delivery }}</p>\n\n<h3>2️⃣ СНИМКИ</h3>\n<ul>\n<li><strong>Интериор:</strong> {{ $json.photos_interior ? '✅ Да' : '❌ Не' }}</li>\n<li><strong>Бар:</strong> {{ $json.photos_bar ? '✅ Да' : '❌ Не' }}</li>\n<li><strong>Сцена:</strong> {{ $json.photos_stage ? '✅ Да' : '❌ Не' }}</li>\n<li><strong>Концерти:</strong> {{ $json.photos_concerts ? '✅ Да' : '❌ Не' }}</li>\n<li><strong>Напитки:</strong> {{ $json.photos_drinks ? '✅ Да' : '❌ Не' }}</li>\n<li><strong>Вход/Фасада:</strong> {{ $json.photos_exterior ? '✅ Да' : '❌ Не' }}</li>\n</ul>\n<p><strong>Къде ще изпратят:</strong> {{ $json.photos_delivery }}</p>\n\n<h3>3️⃣ РАБОТНО ВРЕМЕ</h3>\n<ul>\n<li><strong>Понеделник:</strong> {{ $json.monday }}</li>\n<li><strong>Вторник:</strong> {{ $json.tuesday }}</li>\n<li><strong>Сряда:</strong> {{ $json.wednesday }}</li>\n<li><strong>Четвъртък:</strong> {{ $json.thursday }}</li>\n<li><strong>Петък:</strong> {{ $json.friday }}</li>\n<li><strong>Събота:</strong> {{ $json.saturday }}</li>\n<li><strong>Неделя:</strong> {{ $json.sunday }}</li>\n</ul>\n<p><strong>Затваряне:</strong> {{ $json.closing_time }}</p>\n\n<h3>4️⃣ БАНДИ</h3>\n\n<h4>06.03 - Царете</h4>\n<p><strong>Жанр:</strong> {{ $json.band1_genre }}</p>\n<p><strong>Описание:</strong> {{ $json.band1_description }}</p>\n\n<h4>14.03 - The Four Tones</h4>\n<p><strong>Жанр:</strong> {{ $json.band2_genre }}</p>\n<p><strong>Описание:</strong> {{ $json.band2_description }}</p>\n\n<h4>20.03 - Solid Fuel</h4>\n<p><strong>Жанр:</strong> {{ $json.band3_genre }}</p>\n<p><strong>Описание:</strong> {{ $json.band3_description }}</p>\n\n<h3>5️⃣ GOOGLE АКАУНТ</h3>\n<p><strong>Email:</strong> {{ $json.google_email }}</p>\n\n<h3>6️⃣ РЕЗЕРВАЦИИ</h3>\n<p><strong>Искат резервации:</strong> {{ $json.reservations }}</p>\n<p><strong>Брой маси:</strong> {{ $json.num_tables }}</p>\n<p><strong>Макс. души на маса:</strong> {{ $json.max_per_table }}</p>\n\n<h3>7️⃣ ДОМЕЙН</h3>\n<p><strong>Предпочитание:</strong> {{ $json.domain }}</p>\n<p><strong>Друго:</strong> {{ $json.domain_other }}</p>\n\n<h3>8️⃣ БЮДЖЕТ РЕКЛАМИ</h3>\n<p><strong>Месечен бюджет:</strong> {{ $json.ad_budget }} евро</p>\n\n<h3>9️⃣ КАПАЦИТЕТ</h3>\n<p><strong>Побира:</strong> {{ $json.capacity }} души</p>\n<p><strong>Брой маси:</strong> {{ $json.total_tables }}</p>\n\n<h3>🔟 БРАНД ТОН</h3>\n<ul>\n<li><strong>Професионален:</strong> {{ $json.brand_voice_professional ? '✅' : '❌' }}</li>\n<li><strong>Забавен:</strong> {{ $json.brand_voice_fun ? '✅' : '❌' }}</li>\n<li><strong>Edgy:</strong> {{ $json.brand_voice_edgy ? '✅' : '❌' }}</li>\n<li><strong>Топъл:</strong> {{ $json.brand_voice_warm ? '✅' : '❌' }}</li>\n</ul>\n<p><strong>Друго:</strong> {{ $json.brand_voice_other }}</p>\n\n<h3>📝 ПОЖЕЛАНИЯ</h3>\n<p>{{ $json.free_text_wishes }}</p>\n\n<hr>\n\n<p><em>Автоматично изпратено от n8n</em></p>",
        "options": {}
      },
      "id": "send-email",
      "name": "Изпрати Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [750, 400],
      "credentials": {
        "smtp": {
          "id": "ZH3UH55CZ2VtnauW",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Благодаря! Отговорите са получени.\" } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Върни Отговор",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook (Прием на данни)": {
      "main": [
        [
          {
            "node": "Подготви Данни",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготви Данни": {
      "main": [
        [
          {
            "node": "Запази в Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Изпрати Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запази в Google Sheets": {
      "main": [
        [
          {
            "node": "Върни Отговор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Изпрати Email": {
      "main": [
        [
          {
            "node": "Върни Отговор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-04T00:00:00.000Z",
  "versionId": "2"
}